<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>John</key>
	<string>Clem</string>
	<key>Brad</key>
	<string>Johnson</string>
	<key>Jeff</key>
	<string>Gayle</string>
	<key>Leonardo</key>
	<string>Lee</string>
	<key>Mike</key>
	<string>Tirenin</string>
	<key>Victor</key>
	<string>Abu</string>
	<key>Kirby</key>
	<string>Shabaga</string>
	<key>Collin</key>
	<string>Atherton</string>
	<key>Alex</key>
	<string>Rice</string>
	<key>Dan</key>
	<string>Hoang</string>
</dict>
</plist>
